:root {
  --bg-gradient: linear-gradient( 135deg, #b5c6db 10%, #b5d6f7 100%);
  --text-color: #000000;
}
html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  background-image: var(--bg-gradient);
}
.install, .no-access {
  position: absolute;
  display: grid;
  background-image: var(--bg-gradient);
  justify-content: center;
  align-content: center;
  z-index: 100;
  width: calc(100vw - 4em);
  height: 100vh;
  padding: 2em 2em 8em 2em;
  text-align: center;
}
.install ul {
  text-align: left;
  margin-top: 0;
  padding-top: 0;
  line-height: 1.6;
}
.install svg {
  stroke: #fefefe;
  fill: #fefefe;
}
.no-access { z-index: 200; }
.installed .install { display: none; }
.access .no-access { display: none; }
.grid {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 80px; */
  grid-template-rows: 1fr;
  /* grid-template-areas:
    "main main main"
    "left center right"; */
  grid-template-areas: "main main main";
}
.content {
  grid-area: main;
  padding: 2em 2em 2em 2em;
  padding: calc(env(safe-area-inset-top) + 2em) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  overflow: scroll;
}
.content, .content:target ~ #home { display: none; }
#home, .content:target { display: block; }
button,
.content a {
  border: 1px solid var(--border-color);
  padding: 1em;
  background: var(--button-color);
  border-radius: 0.5em;
  box-shadow: 0px 1px 1px var(--shadow-color);
  color: var(--shadow-color);
}
.content a {
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  margin-bottom: 1em;
}
.content a.hulplijn {
  margin: 6em 0 1em 0;
}
.birthdate {
  font-size: 30px;
  text-align: left;
  padding-top: 20px;
}
.birthdate span {
  width: 47%;
  /* margin-right: 12px; */
  display: inline-block;
  padding: 0 0.2em;
  box-sizing: border-box;
}
.birthdate span.digit {
  font-size: 60px;
  text-align: right;
}
.birthdate span.weeks {
  text-align: right;
  padding: 20px 0;
}
